{% load static %}
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/apex/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/dash_1.js' %}"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->